RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
RewriteRule ^assets(/.*|)$ - [L] # don't take any action
RewriteRule ^api(/.*|)$ - [L] # don't take any action
RewriteRule ^master(/.*|)$ - [L] # don't take any action