<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="<?="http://".$_SERVER['SERVER_NAME']."/assets/bootstrap-5.0.0-beta2-dist/css/bootstrap.css"?>">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Ошибка</span>
    </div>
</nav>
<div class="container">
    <h1><?=$exception->getCode()?></h1>
    <span class="badge bg-secondary"><?=$exception->getMessage()?></span>
</div>

</body>
</html>